$primary-background: #C2DAFE;
$secondary-background: #F5F9FF;
$third-background: #97C0FD;
$text--primary: #585375;
$text--secondary: #FFFFFF;

$button--primary: #085EDE;
$button--third: #F5F9FF;

$base-border-radius: 12px;