@use 'variables' as *;

.chat-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .chat-left {
    width: 30%;
    max-width: 430px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    overflow: hidden;
    background: $third-background;

    .chat-header {
      justify-content: space-around;
      padding: 0 12px;
      border-bottom: 1px solid $secondary-background;
    }

    .chat-list {
      width: 100%;
      overflow: hidden;
      flex-grow: 2;

      ul {
        height: 100%;
        overflow: scroll;
        margin: 0;
        padding: 0;

        li {
          display: flex;
          align-items: center;
          cursor: pointer;
          border-bottom: 1px solid $secondary-background;
          padding: 8px 12px;
        }
      }
    }

    .chat-bottom {
      border-top: 1px solid $secondary-background;
    }
  }

  .chat-right {
    background: #F5F9FF;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    .chat-header {
      border-bottom: 1px solid $primary-background;
    }

    .chat-massages {
      flex-grow: 2;
      padding: 10px 16px;
    }

    .chat-bottom {
      border-top: 1px solid $primary-background;
    }
  }

  .chat-header, .chat-bottom {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 4px 12px;
    justify-content: stretch;
  }
}

.chat-user {
  &_avatar {
    width: 42px;
    height: 42px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &_title {
    width: auto;
    max-width: 100%;
    padding-left: 12px;
  }

  &:hover {
    .chat-user_title {
      color: $text--secondary;
    }
  }
}