@use 'variables' as *;

.page {
  display: flex;
  height: 100%;
  background: $primary-background;
  padding: 35px;

  &_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $secondary-background;
    border-radius: $base-border-radius;
  }
}